:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    position: relative;
    background: #f1f1f1;
}

#heroImg {
    position: absolute;
    top: 0;
    right: 0;
    /* Adjust it with trial error */
    width: 34%;
    margin-right: 10%;
}

/* So its done now lets work with the Play button */
.playbtn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 28px;
    margin-left: 30px;
    border: none;
    outline: none;
    
    background: var(--pink);
    color: var(--white);
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

.navbar {
    position: relative;
    display: flex;
    /* will change the background later */
    height: 60px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.02);
    border-bottom: 1px solid rgba(0,0,0,0.02);
}

.navbar .logo {
    margin-left: 10%;
    line-height: 60px;
    left: 50%;
}
.navbar .logo h2 {
    color: var(--blue);
}
.navbar .logo h2 span {
    color: var(--indigo);
}

.navbar .menu {
    position: absolute;
    right: 12%;
}

.navbar .menu ul {
    display: flex;
    line-height: 60px;
}

.navbar .menu ul li {
    margin: 0 20px;
    list-style-type: none;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: #888;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.04);
    font-weight: 400;
}

.navbar .menu ul li:nth-child(1) a {
    color: #222;
}

/* Hero section */
.hero-section {
    position: relative;
    padding: 20px;
}


.content {
    margin-top: 40px;
    max-width: 580px;
    padding: 15px;
    margin-left: 7%;
}

.content .header-text {
    margin: 16px 0;
    font-size: 2.4rem;
}

.header-text span {
    font-size: 2.6rem !important;
}

.content .header-text span:nth-child(1) {
    color: var(--blue);
}
.content .header-text span:nth-child(2) {
    color: var(--indigo);
}

.content p {
    font-size: 15px;
    max-width: 460px;
    margin: 10px 0px;
    color: #373737;
}

.content .btn {
    /* nvm it worked lol but if it were a <a> tag it wont so to make it work you need to add display block to it */
    margin-top: 30px;
    display: block;
    padding: 15px 40px;
    border-radius: 3rem;
    outline: none;
    border: none;
    background: linear-gradient(90deg, var(--indigo), var(--blue));
    color: #fff;
}

/* Looking cool right Hit! that liek button :D */

/* just add this last code ( Optional ) */
img {
    margin-top: 20px;
}

/* Thanks! for watching guys !!!!!!!!!!! */